services:
  morgana:
    build:
      context: .
      target: production
    container_name: morgana
    image: asubowo/morgana:latest
    restart: unless-stopped
    env_file: .env
    networks:
      - api

networks:
  api:
    external: true