name: Docker Image CI

on:
  push:
    tags:
      - 'v*'     # stable releases
      - 'rc-*'   # release candidates

permissions:
  contents: write
  pull-requests: read
  packages: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # ensures full history for changelog generation

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set image tags
        id: tags
        run: |
          TAGS="ghcr.io/${{ github.repository_owner }}/morgana:${{ github.ref_name }}"
          if [[ "${GITHUB_REF_NAME}" == v* ]]; then
            TAGS="$TAGS,ghcr.io/${{ github.repository_owner }}/morgana:latest"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.tags.outputs.tags }}

      - name: "✏️ Generate release changelog"
        id: changelog
        uses: janheinrichmerker/action-github-changelog-generator@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
          prerelease: ${{ startsWith(github.ref_name, 'rc-') }}